<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661328225266-gbf616mk9hhhfdhjnifp307g566o0tps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661328225266-gbf616mk9hhhfdhjnifp307g566o0tps</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>661328225266-vvgdnsdkehooe5hed0goka7b04oaa8sg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4kuxi9QKOFsE229my7GFxYVy9msyZ6Pw</string>
	<key>GCM_SENDER_ID</key>
	<string>661328225266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RoyalVolunteers</string>
	<key>PROJECT_ID</key>
	<string>royalvolunteer-49e09</string>
	<key>STORAGE_BUCKET</key>
	<string>royalvolunteer-49e09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661328225266:ios:bfd25dd6d4dc7ff69f416b</string>
</dict>
</plist>